#root,html,body{
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  
}
@font-face{
  font-family: myFont;
  src:url(gm.ttf);
}
.app{
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../public/images/city.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card{
  background: whitesmoke;
  max-width: 700px;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  flex-direction: column;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  box-shadow: 10px 10px;
  padding: 3%;
}
.heading{
  display: flex;
  font-family: myFont;
  font-weight: 200;
  align-items: center;
  height: 580px;
}